<footer>
    <div class="container">
        <div class="row">
            <ul class="footer-links">
                <li class="footer-link"><a href="#/about-us">About Us</a></li>
                <li class="footer-link"><a href="#/services">Services</a></li>
                <li class="footer-link"><a href="#/our-clients">Projects</a></li>
                <li class="footer-link"><a href="#/rates">Rates</a></li>
                <li class="footer-link"><a href="#/contact-us">Contact Us</a></li>
                <li class="footer-link"><a href="#/sitemap">Sitemap</a></li>
                <li class="footer-link"><a href="#/careers">Careers</a></li>
                <li class="footer-link"><a href="#/privacy">Privacy Policy</a></li>
                <li class="footer-link"><a href="#/dashboard">Dashboard</a></li>
            </ul>
            <div class="footer-info">
                <span>666 Dundee Road, Suite 1604, Northbrook, IL 60062</span>
                <span>Telephone : <a href="tel: 1-847-637-5989">847-637-5989</a></span><span>E-mail : <a href="mailto: info@speroteck.com">info@speroteck.com</a></span>
            </div>
        </div>
    </div>
</footer>