<header class="cd-header">
    <a href="#/" class="cd-logo"><img ng-src="assets/images/menu/logo.png" alt="Logo"></a>
    <a href="" class="cd-3d-nav-trigger">
        Menu
        <span></span>
    </a>
</header> <!-- .cd-header -->
<nav class="cd-3d-nav-container">
    <ul class="cd-3d-nav">
        <li class="cd-selected">
            <a href="#/">Home</a>
        </li>

        <li>
            <a href="#/our-team">Our Team</a>
        </li>

        <li>
            <a href="#/news">News</a>
        </li>

        <li>
            <a href="#/">Rates</a>
        </li>

        <li>
            <a href="#/our-clients">Our Clients</a>
        </li>
    </ul> <!-- .cd-3d-nav -->

    <span class="cd-marker"></span>
</nav> <!-- .cd-3d-nav-container -->