<header class="cd-header">
    <a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>
    <a href="#0" class="cd-3d-nav-trigger">Menu<span></span></a>
</header>

<main>
    <!-- all your content here -->
</main>

<nav class="cd-3d-nav-container">
    <ul class="cd-3d-nav">
        <li class="cd-selected">
            <a href="#0">Dashboard</a>
        </li>

        <!-- other list items here -->
    </ul>

    <span class="cd-marker color-1"></span>	<!-- marker for the selected navigation item -->
</nav>