<div class="row">
    <div class="col-md-4 col-lg-3 news-grid-block" ng-repeat="news in news_pool">
        <div class="row">
            <div class="col-sm-12"><img class="news-image" ng-src="{{news.image}}" alt=""></div>
            <div class="col-sm-12">
                <p>{{news.date}}</p>
                <h4>{{news.title}}</h4>
                <p>{{news.description}}</p>
                <p>{{news.content}}</p>
                <p>{{news._id}}</p>
            </div>
        </div>
    </div>
</div>