<div class="row">
    <div class="col-md-4 col-lg-3 news-grid-block" ng-repeat="news in news_pool">
        <div class="row">
            <div class="col-sm-12">
                <p>{{news.date}}</p>
                <img class="news-image" ng-src="{{news.image}}" alt="">
            </div>
            <div class="col-sm-12">
                <h4>{{news.title}}</h4>
                <p>{{news.description}}</p>
                <a class="btn btn-default center-block" href="#/news/{{news._id}}">Read more</a>
            </div>
        </div>
    </div>
</div>