<div class="row">
    <div class="col-md-12 news-list-block" ng-repeat="news in news_pool">
        <div class="row">
            <div class="col-md-3">
                <img class="news-image" ng-src="{{news.image}}" alt="">
            </div>
            <div class="col-md-9">
                <p>{{news.date}}</p>
                <h4>{{news.title}}</h4>
                <p>{{news.description}}</p>
                <a class="btn btn-default" href="#/news/{{news._id}}">Read more</a>
            </div>
        </div>
    </div>
</div>