<div class="content-bg pg_news">
    <div class="heading-image-full-width">
        <img ng-src="assets/images/header-images/speroteck-news.jpg" alt="">
        <div class="heading-text-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>News & Events</h1>
                        <span class="text-under-heading"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">124</div>
        </div>
    </div>
</div>