<div class="container dashboard">
    <div class="row">
        <div class="col-md-4 widget">
            <div class="widget-inner">
                <div class="pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="pull-right">
                    <h5>Team</h5>

                    <p>
                        <span>Total:</span>
                        <span>10</span>
                    </p>

                    <p>
                        <span>Last added:</span>
                        <span>Ihor Parkhomenko</span>
                        <span>18.08.2015</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 widget">
            <div class="widget-inner">
                <div class="pull-left">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="pull-right">
                    <h5>Clients</h5>

                    <p>
                        <span>Total:</span>
                        <span>10</span>
                    </p>

                    <p>
                        <span>Last added:</span>
                        <span>Ihor Parkhomenko</span>
                        <span>18.08.2015</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 widget">
            <div class="widget-inner">
                <div class="pull-left">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <div class="pull-right">
                    <h5>News</h5>

                    <p>
                        <span>Total:</span>
                        <span>10</span>
                    </p>

                    <p>
                        <span>Last added:</span>
                        <span>Ihor Parkhomenko</span>
                        <span>18.08.2015</span>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>