<div class="container" ng-controller="ourTeamDashController">
	<!-- Form for creating new team member -->
	<form name="newTeam" id="new_team_form" action="/new_team" enctype="multipart/form-data" method="post">
		<legend>New team member</legend>

		<div class="row">
			<div class="form-group col-xs-12 col-sm-3">
				<label>Name</label>
				<input type="text" class="form-control"name="Name">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label>Last Name</label>
				<input type="text" class="form-control" name="LastName">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label>Email</label>
				<input type="email" class="form-control" name="Email">
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label>Position</label>
				<select class="form-control" name="Position">
					<option value="Frontend developer">Frontend developer</option>
					<option value="Backend developer">Backend developer</option>
					<option value="System administrator">System administrator</option>
					<option value="Quality assurance">Quality assurance</option>
					<option value="Team leader">Team leader</option>
					<option value="Technical leader">Technical leader</option>
					<option value="Project manager">Project manager</option>
					<option value="Head manager">Head manager</option>
					<option value="Founder">Founder</option>
				</select>
			</div>
			<div class="form-group col-xs-12 col-sm-3" style="position: relative">
				<label>Image uploading</label>
				<div class="btn btn-default form-control" style="padding: 0; position: relative;">
					<span style="display: block; position: absolute; left: 1px; right: 1px; top: 6px; line-height: 1.42857143">Select File</span>
					<input style="opacity: 0" type="file" class="form-control" name="file">
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-3">
				<label>Form submit</label>
				<div></div>
				<div ng-click="postForm()" class="btn btn-primary col-xs-12">Submit</div>
			</div>
		</div>
	</form>

	<div class="clearfix"></div>

	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<label for="team_filter">Filter</label>
	    	<input type="text" class="form-control" id="team_filter" placeholder="Filter" ng-model="teamSearch">
		</div>
	</div>
	<br>

	<!-- team table -->
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Position</th>
				<th>Id</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="member in team | orderBy: '_id' | filter:teamSearch">
				<td class="text-center">
					<img ng-src="{{member.image}}" alt="" style="width: 40px">
				</td>
				<td>{{member.name}}</td>
				<td>{{member.lastName}}</td>
				<td>{{member.email}}</td>
				<td>{{member.position}}</td>
				<td>{{member._id}}</td>
				<td>
					<div class="btn btn-danger btn-block">
						<span class="fa fa-times" aria-hidden="true"></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>