<div class="heading-image-full-width">
    <img ng-src="app/assets/images/header-images/speroteck-home.jpg" alt="">
</div>
<div class="container content-body">
    <div class="row">
        <div class="col-md-4"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ullam blanditiis quod
            iusto debitis natus iure dignissimos provident consequatur, dicta placeat nemo, non sequi, ad eveniet,
            possimus. Accusamus, ipsa, corporis.</h4></div>
        <div class="col-md-4"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ullam blanditiis quod
            iusto debitis natus iure dignissimos provident consequatur, dicta placeat nemo, non sequi, ad eveniet,
            possimus. Accusamus, ipsa, corporis.</h4></div>
        <div class="col-md-4"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ullam blanditiis quod
            iusto debitis natus iure dignissimos provident consequatur, dicta placeat nemo, non sequi, ad eveniet,
            possimus. Accusamus, ipsa, corporis.</h4></div>
    </div>
</div>