li {
  list-style: none;
}
.heading-image-full-width {
  overflow: hidden;
  img {
    width: 1920px;
    height: 400px;
    display: block;
  }
}
main {
  padding-top: 80px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
