.pg-home {
  .homepage-partners {
    div {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .homepage-partners-links {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 120px;
    transition: all ease 0.5s;
    &:hover {
      text-decoration: none;
      transition: all ease 0.5s;
    }
    &.google {
      background: url("../images/homepage/Logo_google.jpg") no-repeat bottom center;
      &:hover {
        background-position: top center;
      }
    }
    &.paypal {
      background: url("../images/homepage/Logo_paypal.jpg")no-repeat bottom center;
      &:hover {
        background-position: top center;
      }
    }
    &.magento {
      background: url("../images/homepage/Logo_magento.jpg")no-repeat bottom center;
      &:hover {
        background-position: top center;
      }
    }
  }
}