.pg_news {
  .news-list-block {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid @grey;
  }
  .news-image {
    max-width: 100%;
    width: 100%;
   }
  .news-grid-block {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid @grey;
  }
}